body {
    width: 375px;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(187, 49, 15);
}

a {
    color: rgb(129, 16, 120);
    text-decoration: none;
}
